/* Navigation */
.navbar{
    background-color: rgba(228, 225, 222, .5);
}

.navbar-brand{
    font-family: Viga, sans-serif;/* Navigation */
.navbar{
    background-color: rgba(228, 225, 222, .5);
}

.navbar-brand{
    font-family: Viga, sans-serif !important;
    font-size: 32px;
}

.nav-link{
    text-transform: uppercase;
    margin-right: 20px;
    transition: .1s;
}

.nav-link.active{
    font-weight: bolder;
}

.nav-link:hover{
    text-shadow: .8px .8px .5px rgba(65, 105, 22, 3);
}

.lg-down{
    margin: 10px 0;
    /* overflow-x: scroll; */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
}

.lg-down::-webkit-scrollbar{
    display: none !important;
}

.lg-down a{
    margin: 0 400px;
}

/* Jumbotron */
.jumbotron{
    background-image: url(img/unsplash/tape.jpg);
    background-size: cover;
    height: 640px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: .6px .5px .4px black;
}

/* Carousel */
.carousel{
    margin: .3rem auto;
}


/* Utility */
.tombol{
    border-radius: 40px;
}

h2{
    font-family: Jomhuria, cursive;
    font-size: 3.2rem;
    text-transform: uppercase;
}

.title{
    line-height: 305px !important;
}

.w-55{
    width: 55% !important;
}

.sosmed{
    display: inline-flex;
}

.sosmed li a i{
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid black;
    border-radius: 50%;
    margin-right: 7px;
    transition: .3s;
}

.sosmed li a i:hover{
    border: 1px solid royalblue;
    color: royalblue;
}

.item{
    padding: .5rem;
}

hr{
    opacity: 1;
    color: black;
    border-top: 3px solid black;
}

/* Cards */
.card.h-100{
    border-radius: 20px;
    overflow: hidden;
    transition: .4s;
}

.card.h-100:hover{
    box-shadow: 2px 9px 10px rgba(0, 0, 0, 0.22);
    transform: scale(.9);
}

.card a{
    text-decoration: none;
    color: black;
}

.card a p{
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: .8rem;
}

.card a:hover h5{
    text-decoration: underline;
    text-decoration-style: dotted;
}

.card a:hover p{
    text-decoration: underline;
    text-decoration-style: double;
}

/* Kategori */
.kategori h5{
    font-family: Jomhuria, cursive;
    margin-left: 1.3rem;
    margin-top: .1rem;
    font-size: 1.8rem;
    border-bottom: 2px solid rgba(0,0,0,.25);
    padding-bottom: .1rem;
}

/* Pagination */
.page{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 8px 8px;
    margin-bottom: 0;
    margin-left: 0;
    line-height: 20px;
    border: 3px dotted chocolate;
    transition: .1s;
}

.page.active{
    font-weight: bold;
    border: 2px solid rgb(241, 138, 20);
}

.page:hover{
    border: 2px solid rgb(224, 143, 88);
    color: rgb(11, 206, 255);
    /* background-color: rgb(224, 122, 82); */
    font-weight: bold;
}

.page.active:hover{
    font-weight: bold;
    color: black;
    border: 2px solid rgb(241, 138, 20);
}

.pagination{
    justify-content: center;
}

/* Footer */
footer{
    /* #d3cec9 */
    background-color: rgba(211, 206, 201, 0.6);
    margin-top: 2rem;
}

/* Desktop Version */
@media (min-width: 992px){
    .lg-down{
        display: none !important;
    }

    .nav-link{
        text-shadow: 1px 1px 5px black;
    }
    .jumbotron{
        margin-top: -90px;
    }

    .title{
        line-height: 365px !important;
    }

    h2{
        font-size: 6rem !important;
    }

    /* Cards */
    .card a p{
        font-size: 1.3rem;
    }

    /* Pagination */
    .pagination{
        justify-content: flex-end;
        margin-right: 50px;
    }

    /* Utils */
    .item{
        margin: 0;
    }

}

.something{
    width: 80%;
    background-color: rgba(0, 0, 0, .5);
    color: white;
    overflow: scroll;
    margin: 40px auto;
    white-space: nowrap;
}

.something .kotak{
    display: inline-block;
}

.kotak{
    margin: 10px;
    text-align: center;
}
    font-size: 32px;
}

.nav-link{
    text-transform: uppercase;
    margin-right: 20px;
    transition: .1s;
}

.nav-link.active{
    font-weight: bolder;
}

.nav-link:hover{
    text-shadow: .8px .8px .5px rgba(65, 105, 22, 3);
}

/* Jumbotron */
.jumbotron{
    background-image: url(img/unsplash/tape.jpg);
    background-size: cover;
    height: 640px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: .6px .5px .4px black;
}

/* Carousel */
.carousel{
    margin: .3rem auto;
}


/* Utility */

.tombol{
    border-radius: 40px;
}

h2{
    font-family: Jomhuria, cursive;
    font-size: 3.2rem;
    text-transform: uppercase;
}

.title{
    line-height: 305px !important;
}

.w-55{
    width: 55% !important;
}

.sosmed{
    display: inline-flex;
}

.sosmed li a i{
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid black;
    border-radius: 50%;
    margin-right: 7px;
    transition: .3s;
}

.sosmed li a i:hover{
    border: 1px solid royalblue;
    color: royalblue;
}

.item{
    margin: .5rem auto;
}

hr{
    opacity: 1;
    color: black;
    border-top: 3px solid black;
}

/* Cards */
.card.h-100{
    border-radius: 20px;
    overflow: hidden;
    transition: .4s;
}

.card.h-100:hover{
    box-shadow: 2px 9px 10px rgba(0, 0, 0, 0.22);
    transform: scale(.9);
}

.card a{
    text-decoration: none;
    color: black;
}

.card a p{
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: 1.3rem;
}

.card a:hover h5{
    text-decoration: underline;
    text-decoration-style: dotted;
}

.card a:hover p{
    text-decoration: underline;
    text-decoration-style: double;
}

/* Kategori */
.kategori h5{
    font-family: Jomhuria, cursive;
    margin-left: 1.3rem;
    margin-top: .1rem;
    font-size: 1.8rem;
    border-bottom: 2px solid rgba(0,0,0,.25);
    padding-bottom: .1rem;
}

/* Pagination */
.page{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 8px 8px;
    margin-bottom: 0;
    margin-left: 0;
    line-height: 20px;
    border: 3px dotted chocolate;
    display: flex;
    justify-content: center;
    transition: .1s;
}

.pagination a i{
    line-height: 20px;
}

.page.active{
    font-weight: bold;
    border: 2px solid rgb(241, 138, 20);
}

.page:hover{
    border: 2px solid rgb(224, 143, 88);
    color: rgb(11, 206, 255);
    /* background-color: rgb(224, 122, 82); */
    font-weight: bold;
}

.page.active:hover{
    font-weight: bold;
    color: black;
    border: 2px solid rgb(241, 138, 20);
}

.pagination{
    justify-content: center;
}

/* Footer */
footer{
    /* #d3cec9 */
    background-color: rgba(211, 206, 201, 0.6);
    margin-top: 2rem;
}

/* Desktop Version */
@media (min-width: 992px){
    .nav-link{
        text-shadow: 1px 1px 5px black;
    }
    .jumbotron{
        margin-top: -90px;
    }

    .title{
        line-height: 365px !important;
    }

    h2{
        font-size: 6rem !important;
    }

    /* Pagination */
    .pagination{
        justify-content: flex-end;
        margin-right: 50px;
    }

    /* Utils */
    .item{
        margin: 0;
    }

}
