/* Navigation */
.navbar{
    background-color: rgba(228, 225, 222, .5);
}

.navbar-brand{
    font-family: Viga, sans-serif !important;
    font-size: 32px;
}

.nav-link{
    text-transform: uppercase;
    margin-right: 20px;
    transition: .1s;
}

.nav-link.active{
    font-weight: bolder;
}

.nav-link:hover{
    text-shadow: .8px .8px .5px rgba(65, 105, 22, 3);
}

/* Jumbotron */
.jumbotron{
    background-image: url(img/unsplash/tape.jpg);
    background-size: cover;
    height: 640px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: .6px .5px .4px black;
}

/* Carousel */
.carousel{
    margin: .3rem auto;
}


/* Utility */

.tombol{
    border-radius: 40px;
}

h2{
    font-family: Jomhuria, cursive;
    font-size: 3.2rem;
    text-transform: uppercase;
}

.title{
    line-height: 305px !important;
}

.w-55{
    width: 55% !important;
}

.sosmed{
    display: inline-flex;
}

.sosmed li a i{
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid black;
    border-radius: 50%;
    margin-right: 7px;
    transition: .3s;
}

.sosmed li a i:hover{
    border: 1px solid royalblue;
    color: royalblue;
}

.item{
    margin: .5rem auto;
}

hr{
    opacity: 1;
    color: black;
    border-top: 3px solid black;
}

/* Cards */
.card.h-100{
    border-radius: 20px;
    overflow: hidden;
    transition: .4s;
}

.card.h-100:hover{
    box-shadow: 2px 9px 10px rgba(0, 0, 0, 0.22);
    transform: scale(.9);
}

.card a{
    text-decoration: none;
    color: black;
}

.card a p{
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

.card a:hover h5{
    text-decoration: underline;
    text-decoration-style: dotted;
}

.card a:hover p{
    text-decoration: underline;
    text-decoration-style: double;
}

/* Kategori */
.kategori h5{
    font-family: Jomhuria, cursive;
    margin-left: 1.3rem;
    margin-top: .1rem;
    font-size: 1.8rem;
    border-bottom: 2px solid rgba(0,0,0,.25);
    padding-bottom: .1rem;
}

/* .kategori a hr{
    margin-left: 1.3rem;
} */

/* Footer */
footer{
    /* #d3cec9 */
    background-color: rgba(211, 206, 201, 0.6);
    margin-top: 2rem;
}

/* Desktop Version */
@media (min-width: 992px){
    .nav-link{
        text-shadow: 1px 1px 5px black;
    }
    .jumbotron{
        margin-top: -90px;
    }

    .title{
        line-height: 365px !important;
    }

    h2{
        font-size: 6rem !important;
    }
    
    /*   Card   */
    .card a p{
        font-size: 1.3rem;
    }

    /* Utils */
    .item{
        margin: 0;
    }

}
